@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Form
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model Abp.Dns.Cloudflare.Web.Pages.Cloudflare.Dns.CredentialModal

@{
    Layout = null;
    var actionUrl = Request.Query["handler"].ToString();
    var credentialId = Model?.CloudflareCredential?.Id;
}

@if (actionUrl == "Edit")
{
    <form method="post" asp-page-handler="edit">
        <abp-modal centered="true" scrollable="true" size="Large" id="myModal">
            <abp-modal-header title="Add Your Zone Credential"></abp-modal-header>
            <abp-modal-body>
                <abp-input type="hidden" asp-for="@credentialId"></abp-input>
                <abp-input asp-for="Input.ZoneId"/>
                <abp-input asp-for="Input.ApiKey"/>
            </abp-modal-body>
            <abp-modal-footer buttons="@AbpModalButtons.Save | @AbpModalButtons.Cancel"></abp-modal-footer>
        </abp-modal>
    </form> 
}else if (actionUrl == "Create")
{
    <form method="post" asp-page-handler="create">
        <abp-modal centered="true" scrollable="true" size="Large" id="myModal">
            <abp-modal-header title="Add Your Zone Credential"></abp-modal-header>
            <abp-modal-body>
                <abp-input asp-for="Input.ZoneId"/>
                <abp-input asp-for="Input.ApiKey"/>
            </abp-modal-body>
            <abp-modal-footer buttons="@AbpModalButtons.Save | @AbpModalButtons.Cancel"></abp-modal-footer>
        </abp-modal>
    </form> 
}
